html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#b93156, #1a1945);

  .menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: fit-content(10%) auto;

    label {
      font-size: xx-large;
      color: white;
    }

    input {
      margin-right: 0.5rem;
    }
  }

  #circle {
    fill: none;
    stroke: rgba($color: white, $alpha: 0.1);
  }

  #small-circle {
    fill: white;
  }
}
